<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="../assets/css/login.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>

<body>
  <div class="container" id="homepage">
    <div class="row">
      <div class="col-md bg-secondary">

        <!-- Button Untuk Trigger MOdal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Launch static backdrop modal
        </button>

        <!-- Modal -->
        <div class="modal fade rounded-5 " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
          tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-sm ">
            <div class="modal-content bg-dark">
              <div class="modal-body m-auto p-auto">
                <form>
                  <div>
                    <h4 class="text-center">
                      Register
                    </h4>
                  </div>

                  <!-- username -->
                  <div class="mb-3 ">
                    <label for="fullnameRegister" class="form-label">Fullname</label>
                    <input type="text" class="form-control rounded-5" id="fullanameRegister"
                      aria-describedby="fullnameRegister">
                  </div>

                  <!-- email -->
                  <div class="mb-3">
                    <label for="emailRegister" class="form-label">Email address</label>
                    <input type="email" class="form-control rounded-5" id="emailRegister" aria-describedby="emailHelp">
                  </div>

                  <!-- Password -->
                  <div class="mb-3">
                    <label for="passwordRegister" class="form-label">Password</label>
                    <input type="password" class="form-control rounded-5" id="passwordRegister">
                  </div>

                  <!-- Button Close dan Submit -->
                  <div class="d-flex justify-content-end ">
                    <button type="button" class="btn btn-secondary  me-3" data-bs-dismiss="modal">
                      Close
                    </button>

                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>

        <!-- Akhir Modal -->
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
</body>


</html>